.news__item {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 25px;
    margin-top: -100px;
    &:hover &__img::before {
        background-color: rgba(0,0,0,0.5);
    }

    &__img {
        cursor: pointer;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0);
            transition: 0.3s;
        }
    }

    &__content {

        padding: 35px 10px 35px 10px;
        text-align: center;
        color: #787878;

        font-family: 'Open Sans', sans-serif;
        line-height: 32px;
        font-size: 16px;
        font-weight: 200;
        

        hr {
            max-width: 120px;
            height: 1px;
            border: none;
            background-color: #e5e5e5;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &__title {
            font-family: "Raleway", sans-serif;
            font-size: 20px;
            font-weight: 300;
            color: #323232;

            a {
                color: inherit;
    
                &:hover {
                    color: #fcdd3f;
                }

                strong {
                    font-weight: 600;
                }
            }
        }

        p {
            margin-bottom: 30px;
        }

    }
}

.news .col-4:nth-of-type(2) .news__item__content__title a {
    &:hover {
        color: #f9a450;
    }
}

.news .col-4:nth-of-type(3) .news__item__content__title a {
    &:hover {
        color: #a2cc41;
    }
}